@charset "UTF-8";
:root {
  --default-color-black: #000000;
  --default-color-black-0: hsla(0, 0%, 0%, 0);
  --default-color-black-0x15: hsla(0, 0%, 0%, 0.15);
  --default-color-black-0x6: hsla(0, 0%, 0%, 0.6);
  --default-color-white: #FFFFFF;
  --default-color-warning: #ffee58;
  --default-color-error: #b00008;
  --default-color-success: #417505;
  --color-brand-blue: #1966df;
  --color-graphite: #212121;
  --color-warm-gray: #757575;
  --color-pale: #B6B6B6;
  --color-faded: #E0E0E0;
  --max-width: 1440px;
  --min-width: 320px;
  --rad-std-half: 0.125rem;
  --rad-std: 0.25rem;
  --rad-std-x2: 0.5rem;
  --rad-std-x3: 0.75rem;
  --default-font-size: 16px;
  --f-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto,Oxygen-Sans, Ubuntu, Cantarell, "Segoe UI", Verdana, sans-serif;
  --f-wei-thin: 100;
  --f-wei-reg: 400;
  --f-wei-bold: 700;
  --f-wei-black: 800;
  --z-ind-background: -100;
  --z-ind-backward: -1;
  --z-ind-select: 50;
  --z-ind-tooltip: 75;
  --z-ind-high: 100;
  --z-ind-overlay: 500;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--default-color-white);
  font-size: var(--default-font-size);
  line-height: 1;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: var(--color-graphite);
  font-weight: var(--f-wei-regular);
  font-family: var(--f-family);
  min-width: var(--min-width);
  width: 100%;
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

details > summary {
  cursor: pointer;
  list-style: none;
}
details > summary::before, details > summary::-webkit-details-marker {
  display: none;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

address, caption, cite, code, dfn, strong, th, var {
  font-style: normal;
  font-weight: var(--f-wei-regular);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--f-wei-bold);
  line-height: 1;
}

b, strong, optgroup {
  font-weight: var(--f-wei-bold);
}

dfn, em, i {
  font-style: italic;
}

iframe, abbr, acronym, img {
  border: 0;
  outline: 0;
}

mark {
  background: var(--default-color-warning);
  color: var(--default-color-black);
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 80%;
  vertical-align: baseline;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.25em;
}

sub {
  bottom: -0.25em;
}

q::before, q::after {
  content: "";
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid var(--color-pale);
  padding: 0.25rem 0.75rem;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  word-spacing: normal;
  max-width: 100%;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

input {
  line-height: 1;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input, input:focus,
button, textarea,
select, a:focus {
  outline: 0;
  border: 0;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder {
  color: var(--color-pale);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: no-drop;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus {
  color: var(--color-brand-blue);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

[hidden], template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

::selection {
  background-color: var(--default-color-black);
  color: var(--default-color-white);
}

.footer {
  border-top: 1px solid var(--color-faded);
}

.maw-100p {
  max-width: 100%;
}

.maw-content, .content-width {
  max-width: var(--max-content-width);
}

.miw-content, #main {
  min-width: var(--min-content-width);
}

.w-100p, .responsive-typography ul li, .responsive-typography ol li, .responsive-typography ul, .responsive-typography ol, #root, #main, .content, .content-width {
  width: 100%;
}

.mah-100p {
  max-height: 100%;
}

.mah-100vh {
  max-height: 100vh;
}

.mih-100vh, #root {
  min-height: 100vh;
}

.mar-ha, .content-width {
  margin-left: auto;
  margin-right: auto;
}

.pad-0x5, .main-menu > a {
  padding: 0.5rem;
}

.pad-h-1x25, .content-width {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.pad-v-1, .header, .footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gap-v-1x5 > :not([hidden]):not(.hidden-input) + :not([hidden]):not(.hidden-input), #main > :not([hidden]):not(.hidden-input) + :not([hidden]):not(.hidden-input) {
  margin-top: 1.5rem;
}

.gap-h-0x5 > :not(:last-child):not(:only-child) {
  margin-right: 0.5rem;
}

.gap-h-1 > :not(:last-child):not(:only-child), .main-menu > :not(:last-child):not(:only-child) {
  margin-right: 1rem;
}

.row-sta-sta, .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row-sta-bet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.col-sta-sta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.col-str-sta, #root, #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-1, #main, .content {
  -webkit-box-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
}

.responsive-typography h3 {
  font-size: 24px;
  margin: 1.5rem 0;
}
.responsive-typography > div, .responsive-typography p, .responsive-typography li {
  font-size: 18px;
  line-height: 1.5;
}
.responsive-typography ul li, .responsive-typography ol li {
  position: relative;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.responsive-typography ul li::before, .responsive-typography ol li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.responsive-typography ul > li::before, .responsive-typography ol > li::before {
  background-color: var(--color-brand-blue);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}
.responsive-typography ul > * + *, .responsive-typography ol > * + * {
  margin-top: 2rem;
}
.responsive-typography > div + div, .responsive-typography p + p {
  margin-top: 1rem;
}
.responsive-typography li + li {
  margin-top: 0.5rem;
}

.anim, .main-menu > a, a, .anim::before, .main-menu > a::before, a::before, .anim::after, .main-menu > a::after, a::after {
  transition: all 0.2s ease-in-out;
}

.main-menu > a {
  color: var(--color-brand-blue);
  border-radius: 6px;
  border: 1px solid var(--color-brand-blue);
  text-decoration: none;
}
.main-menu > a:hover, .main-menu > a[aria-current]:not([aria-current=""]) {
  color: var(--default-color-white);
  background-color: var(--color-brand-blue);
}

/* dropdown
 * Source: https://codepen.io/markcaron/pen/wdVmpB
 *
 * TODO: change styles
 * */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown > input[type=checkbox] {
  position: absolute;
  left: -100vw;
}
.dropdown > label {
  display: inline-block;
  padding: 6px 15px;
  color: #333;
  line-height: 1.5em;
  text-decoration: none;
  border: 1px solid #8c8c8c;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.dropdown > label:hover {
  border-color: #333;
}
.dropdown > label:after {
  content: "▲";
  font-size: 10px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: top;
}
.dropdown > ul {
  position: absolute;
  z-index: 999;
  display: block;
  left: -100vw;
  bottom: calc(1.5em + 14px);
  border: 1px solid #8c8c8c;
  background: #fff;
  padding: 6px 0;
  margin: 0;
  list-style: none;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}
.dropdown > ul a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  color: #333;
}
.dropdown > ul a:hover, .dropdown > ul a:focus {
  background: #ececec;
}
.dropdown > input[type=checkbox]:checked ~ ul {
  left: 0;
}
.dropdown > input[type=checkbox]:checked + label:after {
  content: "▼";
}

/*# sourceMappingURL=main.css.map */
