.responsive-typography {

  h3 {
    font-size: 24px;
    margin: 1.5rem 0;
  }

  > div, p, li {
    font-size: 18px;
    line-height: 1.5;
  }

  ul, ol {
    @extend .w-100p;

    li {
      @extend .w-100p;

      position: relative;
      min-height: 1.5rem;
      padding-left: 1.5rem;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    > li::before {
      background-color: var(--color-brand-blue);
      border-radius: 50%;
      width: 0.5rem;
      height: 0.5rem;
      margin-top: 0.5rem;
      margin-left: 0.25rem;
    }

    > * + * {
      margin-top: 2rem;
    }
  }

  > div + div, p + p {
    margin-top: 1rem;
  }

  li + li {
    margin-top: 0.5rem;
  }

}




